.btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid rgb(0, 0, 0);
    width: 160px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .download{
      text-decoration: none;
      color: rgb(0, 0, 0);
  }

  .download2:hover{
      background-color: rgb(0, 255, 0);
  }
  .dl{
      padding: 10px;
  }
  .qidai{
      color: rgb(0, 174, 255);
  }
  .links{
      position: center;
  }
  @media screen and (max-width:500px){
      .links{
         position: relative;
         margin: auto;
         text-align: center;
      }
      .footer{
          font-size: 12px;
      }
  }